
/* Adding root variables */
:root {
    /* Ribbon */
    --ribbon-color: #ED2939;

    /* Generic Black Color (FONT) */
    --dark-text-color: #36454F;

    /* Page Background Color */
    --page-background-color: #F0F0F0;
}

/* Global Reset */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.ribbon {
    background-color: var(--ribbon-color);
    height: 40px;
    width: 100%;
}

.nav-bar {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .logo {
        background-color: yellow;
        height: 100px;
        width: 100px;
    }

    & .container-ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: center; */
    }
}

ul {
    list-style: none;
}